
@import url('chubbo.css');
/* Diagnostic */
* {
  outline: 1px solid black;
  font-size: 1.5em
}

body{
  font-family: 'Chubbo-Extralight';
  font-size: 25px;
  background: #69A297;
}

/* Layout  */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* vertical center   */
  align-content: center;
  column-gap: 30px;
  /*  extend to viewport height  */
  height: 100vh;
 
}

main time {
  background: #84B59F;
  border-radius: 35px;
/*  center content  */
  text-align: center;
  display: grid;
  justify-content: space-evenly;
}




