
@import url('chubbo.css');
/* Diagnostic */
* {
  font-size: 1.5em;
  
}

body{
  font-family: 'Chubbo-Extralight';
  font-size: 25px;
  background-image: linear-gradient(to bottom right, #99E2B4, #469D89, #14746F);
}

/* Layout  */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* vertical center   */
  align-content: center;
  justify-items: center;
  /*  extend to viewport height  */
  height: 100vh;
 
}

main time {
  background: #88D4AB;
  padding: 2em;
/*  center content  */
  text-align: center;
  display: grid;
  justify-content: space-evenly;
}




