
@import url('chubbo.css');
/* Diagnostic */
* {
  outline: 1px solid black;
  font-size: 1.5em;
}

body{
  background: purple;
}

/* Layout  */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* verrtical center   */
  align-content: center;
  /*  extend to viewport height  */
  height: 100vh;
}

main time {
  background: green;
/*  center content  */
  text-align: center;
  display: grid;
  justify-content: space-evenly;
}




